/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  padding: 0 12%;
}

.float-left{
  float: left;
}

.w-50{
  width: 50%;
}

p{
  color: #808080;
}

/* HEADER */
header{
  height: 550px;
  background-color: #0c325a;
}
.h-container{
  width: 100%;
  height: 100%;
  padding: 0 10%; 
  min-width: 1400px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.h-nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.h-logo{
  width: 15%;
}
.h-logo img{
  margin-top: 15px;
}

.h-nav-center{
 width: 45%; 
}

.h-nav-right{
width: 40%;
text-align: right;
}
.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline;
  padding: 0 10px;
}

.menu-inline li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}

/* BUTTONS */
.btn{
  display: inline-block; 
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn.btn-blu{
  padding-left: 30px;  
  padding-right: 30px;  
  border:1px solid white;
}
.btn.btn-green{
  background-color: #7cbb04;
}
.btn.btn-large{
  padding: 20px;
}

.jumbotron{
  position: relative;
  height: 470px;
}
.jumbo-text{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}
.jumbo-text h1{
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

/* MAIN */
.m-block{
  position: relative;
  height: 150px;
  background-color: #D3D3D3;
  text-align: center;
}

.text-bk{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-bk h2{
  font-size: 25px;
  margin-bottom: 10px;
}

.text-bk p{
  font-size: 18px;
}

/* CENTER */
.center-container{
  width: 100%;
  padding: 0 10%;
  min-width: 1400px;
}

.center{
  height: 100%;
  width: calc(100% / 3);
  margin: 30px 0;
  text-align: center;
  padding: 10px 20px;
}

.center img{
  height: 150px;
  margin-bottom: 15px;
}

.center h2{
  color: #7CBB04;
  line-height: 130%;
  font-size: 140%;
}

.center .bdr{
  display: inline-block;
  height: 30px;
  width: 80px;
  margin-bottom: 15px;
  border-bottom: 1px solid #808080;
}

.center p{
  font-size: 95%;
  line-height: 150%;
}

/* OR-LINE */
main .or-line{
  height: 10px;
  width: 95%;
  margin: 0 2.5%;
  border-top: 1px solid #D3D3D3;
}

/* BOTTOM */
.bottom-container, .hands-container{
  padding: 15px 10%;
  min-width: 1850px;
}

.bottom img{
  height: 500px;
  margin: 30px 0;
  padding: 0 50px;
}

.bottom, .hands .bottom-text{
  margin: 30px 0;
  padding: 0 50px;
}

.bottom-text h2, .hands-text h2{
  font-size: 30px;
  margin-bottom: 15px;
}

.bottom-text p, .hands-text p{
  margin-bottom: 20px;
  font-size: 20px;
}

.bottom-text a{
  font-size: 15px;
}

/* PLAN */
.plan{
  height: 150px;
  line-height: 150px;
  background-color: #D3D3D3;
}

.plan .plan-container{
  min-width: 1400px;
  padding: 0 10%;
}

.plan-left{
  font-size: 20px;
}

.plan-right{
  float: right;
  text-align: right;
  color: #808080;
}

.plan-right span, 
.plan-right .sel,
.plan-right a{
  height: 100%;
  display: inline-block;
  margin-left: 30px;
}

.plan-right .sel{
  line-height: 20px;
  border-bottom: 1px solid #808080;
}

.plan-right .sel::after{
  padding-left: 80px;
  content: '\25BE';
}

/* HANDS */
.hands-container{
  position: relative;
  height: 400px;
  margin-top: 40px;
}

.hands-container::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #D3D3D3;
  width: 95%;
}

.btn-hands{
  width: 30%;
}

.hands img{
  height: 300px;
  margin: 30px 0;
  padding: 0 50px;
}

.hands-text .button-box{
  margin-top: 40px;
}

.hands-text .button-box p{
  text-align: center;
  color: #A6B8C7;
  line-height: 160%;
}

/* SCREENS */
.screens-container{
  position: relative;
  height: 550px;
  min-width: 1650px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.screens-container .screens{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.screens img{
  height: 300px;
  margin: 30px 0;
  padding: 0 50px;
}

.screens-container .screens h2{
  margin: 20px 0;
}

.screens-container .screens span{
  color: #7CBB04;
}

.screens-container .screens p.small{
  font-size: 80%;
}

.screens-container .screens p{
  margin: 20px 0;
}

.screens-container .screens a{
  color: #A6B8C7;
}

/* BLUE-BLOCK */
.blue-block-container{
  position: relative;
  min-width: 1650px;
  height: 350px;
  background-color: #0C325A;
}

.blue-block-container .blue-block-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}

.btn-blueC{
  padding: 15px;
}

.blue-block-container .blue-block-text h2{
  font-size: 28px;
  color: #FFFFFF;
}

.blue-block-container .blue-block-text p{
  margin: 30px 0;
}

/* STRUCTURE */
.structure-container{
  height: 450px;
  min-width: 1500px;
  padding: 0 15%;
}

.structure-container h2.title{
  text-align: center;
  margin: 80px 0;
}

.structure-container .structure{
  width: calc(100% / 3 - 60px);
  min-height: 250px;
  position: relative;
  margin: 0 10px;
}

.structure-container .structure img{
  width: 50px;
  margin-bottom: 40px;
}

.structure-container .structure h2{
  font-size: 100%;
  margin-bottom: 20px;
}

.structure-container .structure p{
  line-height: 140%;
}

.structure-container .structure::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100%;
  margin-top: 40px;
}

.structure-container .structure.student::after{
  background-color: #95C9F6;
}

.structure-container .structure.worker::after{
  background-color: #FBA500;
}

.structure-container .structure.business::after{
  background-color: #80B805;
}

.structure.student a{
  color: #95C9F6;
}

.structure.worker a{
  color: #FBA500;
}

.structure.business a{
  color:#80B805;
}

/* FAQS */
.faqs-container{
  position: relative;
  min-width: 1500px;
  height: 150px;
  background-color: #0C325A;
}

.faqs-container .faqs-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.faqs-container .faqs-text h2{
  color: #FFFFFF;
  margin-bottom: 10px;
}

.faqs-container .faqs-text h2 span{
  color: #FBA500;
}

/* FOOTER */
footer{
  min-width: 1500px;
  height: 320px;
  background-color: #16416B;
}

footer .footer-container{
  height: 100%;
  padding-top:50px;
  padding-bottom:50px;
}

footer ul h4{
  margin-bottom: 15px;
}

footer h4{
  color: #FFFFFF;
  margin-bottom: 30px;
}

footer li{
  list-style: none;
  margin: 10px 0;
}

footer li a{
  text-decoration: none;
  color: #808080;
  font-size: 80%;
}

footer .footer-credits{
  text-align: right;
}

.footer-credits .fr{
  text-transform: uppercase;
}

/* LINGUETTA */
footer .linguetta{
  position: fixed;
  text-align: center;
  width: 50px;
  bottom: 0;
  padding: 0;
  right: 200px;
  line-height: 40px;
  font-size: 80%;
  border-radius: 5px 5px 0 0;
}